<a href="https://colab.research.google.com/github/Sood-Akriti/Big-Mart/blob/main/Forecast.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("/Q3_Sikka data.csv")

In [3]:
data.head()

         Date    DAU  Installs  Uninstalls  Signups  Referrals
0  2022-10-01  24071      6630        6994     3511      962.0
1  2022-10-02  23548      6366        6669     3387      941.0
2  2022-10-03  24572      6936        6899     3654      940.0
3  2022-10-04  24212      6561        6766     3532      960.0
4  2022-10-05  23247      6059        6402     3315      923.0

In [4]:
data.shape

(46, 6)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        46 non-null     object
 1   DAU         46 non-null     int64
 2   Installs    46 non-null     int64
 3   Uninstalls  46 non-null     int64
 4   Signups     46 non-null     int64
 5   Referrals   31 non-null     float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ KB

In [6]:
import datetime as dt
data["Date"] = pd.to_datetime(data["Date"])
data['Date']=data['Date'].map(dt.datetime.toordinal)

data.head()

     Date    DAU  Installs  Uninstalls  Signups  Referrals
0  738429  24071      6630        6994     3511      962.0
1  738430  23548      6366        6669     3387      941.0
2  738431  24572      6936        6899     3654      940.0
3  738432  24212      6561        6766     3532      960.0
4  738433  23247      6059        6402     3315      923.0

In [7]:
data.isnull().sum()

Date           0
DAU            0
Installs       0
Uninstalls     0
Signups        0
Referrals     15
dtype: int64

In [8]:
test = data[data.Referrals.isnull()]
test.head()

      Date    DAU  Installs  Uninstalls  Signups  Referrals
31  738460  12816      3763        4149     1806        NaN
32  738461  12812      3087        3868     1550        NaN
33  738462  12042      3176        3815     1410        NaN
34  738463  12595      3172        3878     1629        NaN
35  738464  12361      3390        4021     1578        NaN

In [9]:
train = data.dropna()
train.head()

     Date    DAU  Installs  Uninstalls  Signups  Referrals
0  738429  24071      6630        6994     3511      962.0
1  738430  23548      6366        6669     3387      941.0
2  738431  24572      6936        6899     3654      940.0
3  738432  24212      6561        6766     3532      960.0
4  738433  23247      6059        6402     3315      923.0

In [10]:
X_train = train.drop(['Referrals'], axis = 1 )
y_train = train.Referrals
X_test = test.drop(['Referrals'], axis=1)

In [13]:
X_train.shape, y_train.shape, X_test.shape

((31, 5), (31,), (15, 5))

In [14]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train,y_train)
prediction = lm.predict(X_test)
prediction

array([496.24566106, 461.05516381, 411.97089457, 475.36430196,
       448.59550185, 478.5651383 , 444.561392  , 478.11865282,
       520.21439444, 532.91237919, 551.90426371, 530.77839778,
       561.67930998, 568.98739062, 707.79613492])

In [15]:
test["Referrals"] = prediction
test.head()

<ipython-input-15-08856efd39c0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["Referrals"] = prediction

      Date    DAU  Installs  Uninstalls  Signups   Referrals
31  738460  12816      3763        4149     1806  496.245661
32  738461  12812      3087        3868     1550  461.055164
33  738462  12042      3176        3815     1410  411.970895
34  738463  12595      3172        3878     1629  475.364302
35  738464  12361      3390        4021     1578  448.595502